* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  text-align: center;
}

form {
  /* background-color: blue; */
  width: 70vw;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  font-size: 16pt;
  font-weight: 700;
}

input, select {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
}
select {
  width: 80px;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: cadetblue;
  cursor: pointer;
}


input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}



div.graphic {
  width: 70vw;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: cadetblue;
}


div.graphic canvas {
  width: 100%;
  height: 100%;
}


