@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

div.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  /* justify-content: center; */
  background-color: aquamarine;
  text-align: center;
  position: relative;
}

div.img {
  position: absolute;
  width: 200px;
  justify-content: center;
  bottom: 1%;

}

img {
  width: 100%;
  height: 100%;
}

form {
  /* background-color: blue; */
  width: 98vw;
  max-width: 800px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

label {
  font-size: 16pt;
  font-weight: 700;
}

input, select {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
}
select {
  width: 140px;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: cadetblue;
  cursor: pointer;
}


input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

div.graphic {
  width: 98vw;
  max-width: 800px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: cadetblue;
}

div.graphic canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 475px) {
  form {
    justify-content: left;
  }

  form div{
    padding: 10px;
  }

  div.img {
    width: 300px;
  }
}